### Load packages

In [1]:
import duckdb as ddb
import pandas as pd
import datetime
import json
from functools import partial
import numpy as np

DB_LOCATION = "/home/martin/Projects/sphinx-ai/data/pupils/db.duckdb"

### Database session

In [2]:
con = ddb.connect(database=DB_LOCATION, read_only=False)

### Query Database

In [4]:
# get tests info
con.sql(
    """
    SELECT users.id AS user_id, name, test_name, tests.id AS test_id, test_date 
    FROM users
    JOIN tests
        ON users.id == tests.user_id;
    """
).df()

,user_id,name,test_name,test_id,test_date
0,SIABRIBCFHAD,Nico,Ressitencia Ocular,930516d2-20d1-4c7b-95c0-72e2f058820f,14.03.2024
1,ZMODDNEMSJGC,Nico,Ressitencia Ocular,c2c1cd7a-c32d-419b-94cf-5ddcc4bd9f65,14.03.2024

In [8]:
class User:
    name: str
    sports: List
    birth_date: str
    id: str = field(default_factory=generate_id)


@dataclass
class Test:
    test_name: str
    variation: str
    user_id: str
    reference_date: date
    id: str = field(default_factory=generate_id)

In [9]:
test_id = "ffbce31a-649f-4da9-81b0-8e6c121cae61"

# get mean amount of blinks/10secs
con.sql(
    f"""
    SELECT AVG(blink_count) AS mean_blink_count
    FROM (
        SELECT DATE_TRUNC('second', start_timestamp) AS interval_start, COUNT(*) AS blink_count
        FROM blinks
        WHERE test_id = '{test_id}'
        GROUP BY DATE_TRUNC('second', start_timestamp)
    ) AS blink_counts;

    """
).df()  # .iloc[:,0].unique()

# get total mount of blinks
con.sql(
    f"""
    SELECT COUNT(id) AS blink_count
    FROM blinks
    WHERE test_id = '{test_id}'
    """
).df()

# get mean blink duration
con.sql(
    f"""
    SELECT AVG(duration) AS blink_count
    FROM blinks
    WHERE test_id = '{test_id}'
    """
).df()


# get mean blink duration
con.sql(
    f"""
    SELECT AVG(duration) AS blink_count
    FROM blinks
    WHERE test_id = '{test_id}'
    """
).df()

   blink_count
0     0.189308

In [6]:
con.close()